.home-content{
  --border-radius : 20px;
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: 10px 10px 5px rgb(0, 0, 0);
  margin: 1vh;
  font-weight: bolder;
  color: #020f1fdc;
  height: 1.4em;

}

.card-container{
  border:solid;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 5%;
}

.welcome-start-card{
  background:     linear-gradient(rgba(255, 212, 212, 0.8), rgba(252, 30, 30, 0.4));
}
.welcome-start-card2{
  background:     linear-gradient(rgba(255, 212, 162, 0.8), rgba(252, 30, 162, 0.4));
}
.welcome-start-card:hover {
  opacity: 0.8;
  filter: blur(1px) contrast(110%);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.layout-grid {
  display: grid;
  grid-template-areas:
    "a a a b b"
    "a a a b b"
    "a a a c c";
  grid-template-columns: repeat(5, 1fr);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 900px) {
  .layout-grid {
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "b b b"
      "b b b"
      "c c c";
    grid-template-columns: repeat(3, 1fr);
  }
}


.block-welcome {
  grid-area: a;
}

.block-user {
  grid-area: b;
}

.block-login {
  grid-area: c;
}