<app-header title="About this web app"></app-header>

<ion-content [fullscreen]="false">
  <ion-card class="base-card">
    <ion-card-content class="ion-padding">
      <h1> 🌟 About this app </h1>
      <p>Welcome to **Multiplayer Trive Template**, a web application that challenges users with fast-paced quiz
        questions.</p>
      <p>For more information, visit the project sources: <a
          href="https://dev.azure.com/CochonCorp/MultiplayerTriviaTemplate">Azure
          Devops</a></p>
      <ion-icon name="logo-angular"></ion-icon>
      <ion-icon name="logo-html5"></ion-icon>
      <ion-icon name="logo-css3"></ion-icon>
      <ion-icon name="logo-ionic"></ion-icon>


      <h1> Issue and suggestions </h1>
      <p> If you have any issue or suggestion, please open an issue on the project page or send me a mail</p>
      <p> <a href="https://dev.azure.com/CochonCorp/MultiplayerTriviaTemplate">Azure Devops</a></p>
      <a href="mailto:fx73000@yahoo.fr?subject=MultiplayerTriviaTemplate - Issue/Suggestion">Send email</a>
    </ion-card-content>
  </ion-card>
</ion-content>