// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.expand-vertical{
    height: 100%;
    --height: 100px;

}

// Colors Palette
$primary: #4DCAE3;
$secondary: #FDE961;
$tertiary: #F791A6;
$light: #F8F7EF;
$medium: #848384;
$dark: #2f2f2f;