// BLock User
.okBtn{
  position: relative;
  top: -8px;
  right: -12vw;
  margin-bottom: -80px;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .okBtn{
      right: -38vw;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
    .okBtn{
      right: -26vw;
  }
}

.lobbyCodeItem{
    position: absolute;
    right: 25px;
    top:50px;
    z-index: 2;
    cursor: pointer;
}


// Global Layout
.layout-grid {
  display: grid;
  grid-template-areas:
    "a a b b c c c"
    "a a b b c c c"
    "a a b b c c c";
  grid-template-columns: repeat(6, 1fr);
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  .layout-grid {
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c";
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .layout-grid {
    grid-template-areas:
      "b a a"
      "b a a"
      "b c c"
      "b c c";
    grid-template-columns: repeat(3, 1fr);
  }
}
.block-lobby {
  grid-area: a;
}
.block-players {
  grid-area: b;
}
.block-options {
  grid-area: c;
}











ion-radio::part(container) {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #6815ec;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}
