<app-header title="Welcome into the Lobby"></app-header>
<ion-content [fullscreen]="true">
	<ion-grid *ngIf="lobby">
		<ion-row>
			<ion-col>
				<ion-card class="cardContainer">
					<ion-card-header>
						<ion-card-title>Your lobby code :</ion-card-title>
						<ion-input [value]="lobbyCode" aria-label="Code" labelPlacement="stacked" fill="outline"
							style="text-transform: uppercase;" readonly></ion-input>
						<ion-icon (click)="copyToClipboard()" size="large" class="lobbyCodeItem"
							name="clipboard"></ion-icon>
						<ion-card-title>Set your name !</ion-card-title>
						<ion-input [(ngModel)]="playerName" label="You are :" fill="outline" label-placement="floating">
						</ion-input>
						<ion-button (click)="updateName()" class="okBtn">
							OK
						</ion-button>
					</ion-card-header>
				</ion-card>
			</ion-col>
			<ion-col>
				<app-players-card [players]="players" [ownerId]="lobby.host" [isCurrentlyOwner]="isOwner"
					(eventKickPlayer)="onKickPlayerFromLobby($event)"></app-players-card>
			</ion-col>
			<ion-col>
				<ion-card class="cardContainer">
					<ion-card-header>
						<ion-card-title>Categories</ion-card-title>
					</ion-card-header>
					<ion-card-content class="cardListCentered">
						<ion-item>
							<ion-input label="Question count" type="number" [(ngModel)]="questionCount"
								(ionBlur)="onQuestionCountChange()" placeholder="ex: 10" min="1" max="50"
								inputmode="numeric">
							</ion-input>
						</ion-item>

						<ion-item>
							<ion-label>Catégorie</ion-label>
							<ion-select [(ngModel)]="lobby.category" (ionChange)="onCategorySelect()"
								interface="popover">
								<ion-select-option [value]="null">No category</ion-select-option>
								<ion-select-option *ngFor="let category of categoryList" [value]="category">
									{{ category }}
								</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-item *ngIf="lobby.category">
							<ion-label>Sous-catégorie</ion-label>
							<ion-select [(ngModel)]="lobby.subcategory" interface="popover"
								(ionChange)="onSubcategorySelect()">
								<ion-select-option [value]="null">No category</ion-select-option>
								<ion-select-option *ngFor="let sub of subcategoryList" [value]="sub">
									{{ sub }}
								</ion-select-option>
							</ion-select>
						</ion-item>
						<ion-button [disabled]="!isOwner" size="large" fill="outline" expand="block"
							style="margin-top: 10px;">
							Launch
						</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>