<app-header title="Browse"></app-header>
<ion-content fullscreen="false">
  <ion-split-pane when="xs" contentId="item-list">
    <ion-menu contentId="item-list">
      <ion-button expand="block" color="secondary" (click)="onAddNewItem()">
        Add new item
      </ion-button>
      <ion-card *ngIf="selectedItem" class="levelCard">
        <ion-card-header>
          <ion-card-title>{{ selectedItem.id || 'New Trivia Item' }}</ion-card-title>
          <ion-card-subtitle *ngIf="selectedItem.owner"> {{ ownerNameList.get(selectedItem.owner) ?? 'Unknown' }}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-item [disabled]="selectedItem.owner && selectedItem.owner !== userId">
            <ion-label position="stacked">Category</ion-label>
            <ion-select [(ngModel)]="selectedCategoryChoice" (ionChange)="onCategorySelect()" interface="popover"
              placeholder="Choose or create">
              <ion-select-option [value]="null">No category</ion-select-option>
              <ion-select-option [value]="'__custom__'">Create new category</ion-select-option>
              <ion-select-option *ngFor="let cat of categoryList" [value]="cat">
                {{ cat }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="selectedCategoryChoice === '__custom__'"
            [disabled]="selectedItem.owner && selectedItem.owner !== userId">
            <ion-input [(ngModel)]="selectedItem.category" placeholder="Enter new category"></ion-input>
          </ion-item>



          <ion-item *ngIf="selectedCategoryChoice" [disabled]="selectedItem.owner && selectedItem.owner !== userId">
            <ion-label position="stacked">Subcategory</ion-label>
            <ion-select [(ngModel)]="selectedSubcategoryChoice" (ionChange)="onSubcategorySelect()" interface="popover"
              placeholder="Choose or create">
              <ion-select-option [value]="null">No subcategory</ion-select-option>
              <ion-select-option [value]="'__custom__'">Create new subcategory</ion-select-option>
              <ion-select-option *ngFor="let sub of subcategoryList" [value]="sub">
                {{ sub }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="selectedSubcategoryChoice === '__custom__'"
            [disabled]="selectedItem.owner && selectedItem.owner !== userId">
            <ion-input [(ngModel)]="selectedItem.subcategory" placeholder="Enter new subcategory"></ion-input>
          </ion-item>

          <ion-item [disabled]="selectedItem.owner !== undefined && selectedItem.owner !== userId">
            <ion-label position="stacked">Question</ion-label>
            <ion-textarea [(ngModel)]="selectedItem.question" autoGrow="true"></ion-textarea>
          </ion-item>

          <ion-item [disabled]="selectedItem.owner !== undefined && selectedItem.owner !== userId">
            <ion-label position="stacked">Answer</ion-label>
            <ion-textarea [(ngModel)]="selectedItem.answer" autoGrow="true"></ion-textarea>
          </ion-item>


          <ion-button *ngIf="!selectedItem.owner" expand="block" color="primary" (click)="onUploadItem()">
            Upload
          </ion-button>
          <ion-button *ngIf="selectedItem.owner" expand="block" color="primary" (click)="onSaveItem()">
            Save Changes
          </ion-button>
          <ion-button *ngIf="selectedItem.owner" expand="block" color="danger" (click)="onRemoveItem()">
            Remove
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="!selectedItem" class="levelCard">
        No item selected
      </ion-card>
    </ion-menu>
    <div id="item-list">
      <ion-searchbar [debounce]="1000" (ionInput)="onSearch($event)" show-clear-button="focus"
        style="background-color:white"></ion-searchbar>
      <div class="cardList">
        <!-- Item cards -->
        <ion-card *ngFor="let item of items" (click)="select(item)" class="note-card"
          [ngClass]="{ selectedCard: selectedItem?.id === item.id, ownedCard: item.owner === userId  }">
          <ion-card-header>
            <ion-card-title>{{ item.answer }}</ion-card-title>
            <ion-card-subtitle *ngIf="item.owner"> {{ ownerNameList.get(item.owner) ?? 'Unknown' }} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ item.question }}
          </ion-card-content>
        </ion-card>
      </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-split-pane>
</ion-content>