.grid-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  ion-card {
    aspect-ratio: 1 / 1;
  }
}

.card-item {
  padding: 4px;
  border-radius: 32px;
  color: white;
  user-select: none;
  cursor: pointer;

  text-align: center;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.card-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 8px 4px rgba(250, 250, 250, 0.6);
}

.cardSelected{
  transition: all 0.2s ease-in-out;
  background-color: var(--ion-color-primary) !important;
}

.card-owned{
  background-color: var(--ion-color-secondary-shade);
}

.card-edit{
  margin: 2px;
  overflow-y: scroll;
  height: 100%;
}
.card-edit > ion-card-header{
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  ion-card-title{
    font-size:2rem;
  }
  ion-card-subtitle{
    font-size:1.4rem;
  }
}

::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #8a4646;
}
