.basicCard {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  align-items: center;
  width: 28vw;
  height: 50vh;
  ion-card-header{
    padding: 1px;
    ion-card-title{
      margin: 0px;
    }
  }
  ion-card-content{
    padding: 2px;
    color: lightgray;
    max-height: 240px;
    ion-item{
     --background:transparent;
     --border-color: transparent;
    }
    ion-text{
      display: flex;
      font-size:smaller;
      line-height: 1.1;
      margin-bottom: 1px;
    }
  }
}
.basicCard:hover {
  box-shadow: 0 5px 5px -3px rgba(241, 234, 234, 0.2),
    0 8px 10px 1px rgba(219, 218, 218, 0.14),
    0 3px 14px 2px rgba(216, 211, 211, 0.12);
}

.basicCardContent{
  display: flex;
  flex-direction: row;
}

.selectedCard{
  transition: all 0.2s ease-in-out;
  background-color: var(--ion-color-primary);
}

.levelCard{
  margin: 2px;
  overflow-y: scroll;
  height: 100%;
  background-size: cover;
}
.levelCard > ion-card-header{
  margin: 2px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  ion-card-title{
    font-size:2rem;
  }
  ion-card-subtitle{
    font-size:1.4rem;
  }
}

::-webkit-scrollbar {
  width: 1px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #8a4646;
}

.note-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  ion-card-content{
    padding: 2px 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .difficulty {
      font-size: 1.1rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      width: 5rem;
    }
    
    .meter{
      width: 2.8rem;
      font-size: 1.4rem;
      margin: 0;
      padding: 2px;
      border-radius: 30px;
      text-align: center;
    }

    .score {
      display: flex;
      align-items: center;
    }

  }
}
.note-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 4px rgba(250, 250, 250, 0.6);
}

.player-number-icon {
  width: 2rem;
  height: 2rem;
  

}